body {
  margin: 0px;
}

html,
body,
#root {
  height: 100%;
}

/* Right-Box */
.right-box {
  background-color: #f1f1f1;
  padding: 1.5%;
}

.data-table {
  height: 40%;
  overflow-x: auto;
  white-space: nowrap;
}

/*.data-table {
  height: 40%;
  overflow-x: auto;
  white-space: nowrap;
}*/

/* Left-Box 
  .left-layout {
    height: 100%;
    position: fixed;
  }*/

.left-box {
  text-align: center;
  overflow: auto;
  background-color: #1c4c74;
  color: white;
  position: relative;
  min-width: 10%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Dropdown menu */
.app-select {
  background-color: #349ce4;
  border-color: #f1f1f1;
  color: white;
}

option {
  cursor: pointer;
}

option:hover {
  background-color: #349ce4;
}

#logo-div {
  margin-top: 200px;
}

#logo-img {
  height: 70px;
  border-radius: 10px;
}

.grid {
  box-shadow: 0 0 2px 3px rgb(146, 146, 146);
}

.title {
  padding-left: 5px;
  color: #1c4c74;
}
